@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
@import './_variables';

body{
    background-color: $darker;
    font-family: 'Montserrat', sans-serif;
    color: $gray;
}

a {
    text-decoration: none;
    color: $gray;
}